<!-- templates\cart\cart_detail.html -->
{% extends "base.html" %}
{% load static %}
{% load cart_extras %}

{% block content %}
<style>
    .checkout-btn {
        height: 70px;
        display: inline-block;
        font-size: 24px;
        font-weight: 300;
        color: #000;
        background: #94ffc4;
        border: none;
        padding: 0 50px;
        transition: 0.3s;
        width: 50%;
    }
    .checkout-btn:hover {
        background: #000;
        color: #fff;
    }
</style>


<!-- end page-transition -->
<div class="smooth-scroll">
    <div class="section-wrapper" data-scroll-section>
        <!-- SEARCH BOX -->
        {% include 'common_includes/search.html' %}
        <!-- SIDE BOX -->
        {% include 'common_includes/side-box.html' %}
        <!-- NAV BAR -->
        {% include 'common_includes/nav-bar.html' %}
        <section class="content-section" data-background="#fffbf7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <figure>
                                <img src="{% static 'images/title-shape.png' %}" alt="Image">
                            </figure>
                            {% if cart and cart.items.count > 0 %}
                            {% for item in cart.items.all %}
                            <h2>{{ item.product.name }}</h2>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <!-- end section-title -->
                    </div>
                    <!-- end col-12 -->
                    <div class="col-lg-12 text-center d-flex justify-content-center">
                        <div class="contact-box px-5" style="width: 75%;">
                            <h6>Seamless Ticket Purchase and Entry Instructions</h6>
                            <p>
                                After clicking 'Buy Tickets,' you'll be directed to the Stripe payment system. Once your
                                payment is successfully processed, you'll receive a special QR code via email. Please
                                ensure you provide a valid email address that you can access, as you'll need to keep
                                this QR code for entry.
                            </p>
                        </div>

                    </div>
                    <div class="clearfix spacing-50"></div>

                    <button class="checkout-btn" id="checkout-button">
                        BUY TICKET
                    </button>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>


        <script src="https://js.stripe.com/v3/"></script>
        <script>
            var stripe = Stripe('{{ stripe_public_key }}');

            document.querySelector("#checkout-button").addEventListener("click", function () {
                fetch("{% url 'Ecommerce_cart:create_checkout_session' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Content-Type": "application/json",
                    },
                })
                    .then((response) => response.json())
                    .then((session) => {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    })
                    .then((result) => {
                        if (result.error) {
                            alert(result.error.message);
                        }
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });
            });

            document.querySelector("#shipping-form").addEventListener("submit", function (event) {
                event.preventDefault();
                var shippingOptionId = document.querySelector("#shipping-select").value;
                fetch("{% url 'Ecommerce_cart:update_shipping_option' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ shipping_option: shippingOptionId }),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        location.reload();
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });
            });
        </script>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <h6 class="widget-title">About Museum</h6>
                        <ul class="footer-menu">
                            <li><a href="#">About us </a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">National work</a></li>
                            <li><a href="#">International work</a></li>
                        </ul>
                    </div>
                    <!-- end col-4 -->
                    <div class="col-lg-4 col-md-6">
                        <h6 class="widget-title">Connect Us</h6>
                        <ul class="social-media">
                            <li><a href="#"><i class="fab fa-facebook-f"></i> /wandau-uk</a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> /wandau-museum</a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i> /wandau-tv</a></li>
                        </ul>
                    </div>
                    <!-- end col-4 -->
                    <div class="col-lg-4">
                        <h6 class="widget-title">Visit Us Now</h6>
                        <address class="address">
                            Cromwell Road New Town SW7 <strong>London - England</strong> <i
                                class="fas fa-info-circle"></i> +44 (0)20 7942 2000
                        </address>
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
            <div class="footer-bottom">
                <div class="container"> <span class="copyright">© 2023 Wandau | Art & History Museum</span> <span
                        class="creation">Site created by <a href="#">themezinho</a></span> </div>
                <!-- end container -->
            </div>
            <!-- end footer-bottom -->
        </footer>
        <!-- end footer -->
    </div>
</div>


{% endblock %}