<!-- templates\home\home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}






<div class="smooth-scroll">
  <div class="section-wrapper" data-scroll-section>

    <!-- SEARCH BOX -->
    {% include 'common_includes/search.html' %}
    <!-- SIDE BOX -->
    {% include 'common_includes/side-box.html' %}
    <!-- NAV BAR -->
    {% include 'common_includes/nav-bar.html' %}
    
    <header class="page-header" data-background="{% static 'images/page-header.jpg' %}">
      <div class="inner">
        <svg width="580" height="400" class="svg-morph">
          <path id="svg_morph"
            d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
        </svg>
        <h1>Exhibitions</h1>
        <p>For the latest updates about reopening, booking tickets and what's happening at the Museum, sign up to our
          newsletter</p>
        <div class="mt-5">
          <input type="submit" value="Send Us">
        </div>
      </div>
      <!-- end inner -->
    </header>
    <!-- end page-header -->
    <section class="content-section" data-background="#fffbf7">
      <div class="container">
        <div class="row justify-content-center">
          {% for product in all_products %}
          <div class="col-lg-4 col-md-6">
            <div class="exhibition-box" data-scroll
              data-scroll-speed="{% if forloop.counter0|divisibleby:2 %}1{% else %}-1{% endif %}">
              <figure>
                <a href="{% url 'Ecommerce_products:product_detail' product.id %}">
                  <img src="{{ product.image_1.url }}" alt="Image" class="img">
                </a>
                <div class="info">
                  <figure class="i">
                    <img src="{% static 'images/icon-info.png' %}" alt="Image">
                  </figure>
                  <span>50% off exhibitions</span>
                </div>
                <!-- end info -->
              </figure>
              <div class="content-box">
                <h4>
                  <a href="{% url 'Ecommerce_products:product_detail' product.id %}">
                    {{ product.name }}
                  </a>
                </h4>
                <p class="text-center">£{{ product.price }}</p>
                <p> 15 August – 31 October 2020 </p>
              </div>
              <!-- end content-box -->
            </div>
            <!-- end exhibition-box -->
          </div>
          {% endfor %}

          <!-- end col-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section no-spacing" data-background="#94ffc4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="newsletter-box">
              <div class="form">
                <div class="titles">
                  <h6>Subscribe Newsletter</h6>
                  <h2>Sign up to get the
                    latest news</h2>
                </div>
                <!-- end titles -->
                <div class="inner">
                  <input type="email" placeholder="Enter your e-mail address">
                  <input type="submit" value="SIGN UP">
                </div>
                <!-- end inner -->
                <small>Will be used in accordance with our <a href="#">Privacy Policy</a></small>
              </div>
              <!-- end form -->
              <figure class="newsletter-image" data-scroll data-scroll-speed="0.7"><img
                  src="images/newsletter-image.png" alt="Image"></figure>
            </div>
            <!-- end newsletter-box -->
          </div>
          <!-- end col-12 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->

    <!-- FOOTER -->
    {% include 'common_includes/footer.html' %}

  </div>
</div>






{% endblock %}