<!-- templates\products\product_detail.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .all-exibits-btn {
      height: 40px;
      line-height: 40px;
      display: inline-block;
      padding: 0 80px;
      background: #94ffc4;
      color: #080808;
      font-size: 14px;
      font-weight: 700;
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -ms-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
  }
  
  .all-exibits-btn:hover {
      text-decoration: none;
      background: #080808;
      color: #fff;
  }
  </style>


<div class="smooth-scroll">
    <div class="section-wrapper" data-scroll-section>
        <!-- SEARCH BOX -->
        {% include 'common_includes/search.html' %}
        <!-- SIDE BOX -->
        {% include 'common_includes/side-box.html' %}
        <!-- NAV BAR -->
        {% include 'common_includes/nav-bar.html' %}
        <header class="page-header" data-background="{{ product.image_1.url }}">
            <div class="inner">
                <svg width="580" height="400" class="svg-morph">
                    <path id="svg_morph"
                        d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
                </svg>
                <h1></h1>
                <p>{{ product.name }}</p>
            </div>
            <!-- end inner -->
        </header>
        <!-- end page-header -->
        <section class="content-section" data-background="#fffbf7">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="side-content left">
                            <small>50% off exhibitions</small>
                            <h2>
                                {{ product.name }}
                            </h2>
                            <p>Beautiful paintings, sculpture and decorative art from the
                                13th century to the present day.
                            </p>
                            <table>
                                <tr>
                                    <td>START</td>
                                    <td>
                                        : {{ product.opening_time|date:"D, M d, y" }} - 
                                         {{ product.opening_time|time:"H:i" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>END </td>
                                    <td>
                                        : {{ product.closing_time|date:"D, M d, y" }} - 
                                         {{ product.closing_time|time:"H:i" }}
                                    </td>                                </tr>
                                <tr>
                                    <td>EVENT CATEGORY </td>
                                    <td>: {{ product.category }}</td>
                                </tr>
                                <tr>
                                    <td>VENUE NAME </td>
                                    <td>: {{ product.museum_name }}</td>
                                </tr>
                                <tr>
                                    <td>VENUE LOCATION </td>
                                    <td>: {{ product.museum_location }}</td>
                                </tr>
                            </table>
                            <div class="mt-5">
                                <a href="{% url 'Ecommerce_cart:add_to_cart' product.id %}" class="all-exibits-btn">
                                    Buy Tickets
                                </a>
                              </div>
                        </div>
                        <!-- end side-content -->

                    
                 
                    </div>
                    <!-- end col-6 -->
                    <div class="col-lg-6">
                        <div class="side-image right-half" data-scroll data-scroll-speed="1">

                            <img src="{{ product.image_2.url }}" alt="Image">
                        </div>
                        <!-- end side-image -->
                    </div>
                    <!--end col-6 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end content-section -->
        <section class="content-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text-box">
                            <h3>Exhibitions Details</h3>
                            <p>{{ product.museum_details }}</p>
                        </div>
                        <!-- end text-box -->
                    </div>
                    <!--end col-12 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end content-section -->
        <section class="content-section no-spacing">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="side-image" data-scroll data-scroll-speed="1">
                            {% if product.image_2 %}
                            <img src="{{ product.image_2.url }}" alt="Image">
                            {% endif %}
                        </div>
                        <!-- end side-image -->
                    </div>
                    <!-- end col-6 -->
                    <div class="col-lg-6">
                        <div class="side-list right">
                            <ul>
                                <li><strong>This exhibition</strong> is a rare chance to experience
                                    two of Yayoi Kusama’s Infinity Mirror Rooms.
                                    These immersive installations will transport you
                                    into Kusama’s.</li>
                                <li><strong>Architectural</strong> elements and armatures. Bhabha’s
                                    multifaceted work explores colonialism, war,
                                    displacement and the memory of home. For her
                                    first major survey exhibition in Europe.</li>
                                <li><strong>These immersive</strong> installations will transport you
                                    into Kusama’s. This exhibition is a rare chance to experience
                                    two of Yayoi Kusama’s Infinity Mirror Rooms.
                                </li>
                            </ul>
                        </div>
                        <!-- end side-list -->
                    </div>
                    <!-- end col-6 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end content-section -->
        <section class="content-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <figure>
                                <img src="{% static 'images/title-shape.png' %}" alt="Image">
                            </figure>
                            <h6>DON’T MISS THE OPPORTUNITY</h6>
                            <h2>Wandau Museum<br> Now Open </h2>
                        </div>
                        <!-- end section-title -->
                    </div>
                    <!-- end col-12 -->
                    <div class="col-12">
                        <figure class="image-box" data-scroll data-scroll-speed="1">
                            {% if product.image_1 %}
                            <img src="{{ product.image_1.url }}" alt="Image">
                            {% endif %}
                        </figure>
                    </div>
                    <!-- end col-12 -->
                    <div class="clearfix spacing-50"></div>
                    <div class="col-12">
                        <div class="text-box">
                            <h2>Permanent Collection</h2>
                            <p>Housing a national collection, Tate Britain is the world centre for the study and display
                                of British art. Highlights include a Turner collection of more than 300 paintings and
                                thousands of watercolours, with considerable space also dedicated to two artists of the
                                Romantic age, Constable and William Blake.</p>

                            <p>The national tradition of portraiture is represented in a fine collection of Elizabethan
                                works, as well as those by Gainsborough, Reynolds, and Hogarth 'the father of English
                                painting' whose much-loved Rake's Progress sequence remains a popular draw.</p>
                        </div>
                        <!-- end text-box -->
                    </div>
                    <!-- end-col-12 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end content-section -->
        <section class="content-section no-spacing" data-background="#94ffc4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="newsletter-box">
                            <div class="form">
                                <div class="titles">
                                    <h6>Subscribe Newsletter</h6>
                                    <h2>Sign up to get the
                                        latest news</h2>
                                </div>
                                <!-- end titles -->
                                <div class="inner">
                                    <input type="email" placeholder="Enter your e-mail address">
                                    <input type="submit" value="SIGN UP">
                                </div>
                                <!-- end inner -->
                                <small>Will be used in accordance with our <a href="#">Privacy Policy</a></small>
                            </div>
                            <!-- end form -->
                            <figure class="newsletter-image" data-scroll data-scroll-speed="0.7"><img
                                    src="images/newsletter-image.png" alt="Image"></figure>
                        </div>
                        <!-- end newsletter-box -->
                    </div>
                    <!-- end col-12 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end content-section -->

        <!-- FOOTER -->
        {% include 'common_includes/footer.html' %}
    </div>
</div>



{% endblock %}